/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: #efefef;
}

/* #Page Styles
================================================== */

.container {
	background-color: #fff;
}

#heading {
	
}

#title h1 {
	margin-top: 15px;
	font-family: 'Convergence', sans-serif;
}

#title p {
	margin: 0 0 10px 0;
}

#contacts {
	margin-top: 45px;
}

#contacts p {
	margin: 0;
	padding: 0;
	text-align: right;
}

#contacts p span {
	color: #aaa;
}

.aside {
	text-align: right;
	font-size: 1.3em;
	font-family: 'Convergence', sans-serif;
	margin-top: 5px;
}

#skills {
	
}

#skills ul li {
	border-left: 3px solid #ddd;
	border-bottom: 1px solid #f0f0f0;
	padding-left: 7px;
	padding-bottom: 5px;
}

#jobs {
	
}

.job h3 {
	font-size: 1.5em;
	margin: 5px 0 0 0;
	padding: 0;
	line-height: 20px;
}

.job h3 span {
	color: #777;
}

.job .dates {
	margin: 5px 0 7px 1px;
	padding: 0 0 0 5px;
	color: #555;
	border-left: 3px solid #ddd;
}

.job .body p {
	margin: 0 0 7px 0;
}

.job .body .last {
	padding-bottom: 20px;
	border-bottom: 2px solid #eee;
	margin-bottom: 20px;
}

.job .body .final-last {
	margin-bottom: 20px;
}

.job .body li {
	list-style-type: disc;
	margin: 0 0 0 24px;
	padding: 0 0 4px 0;
}

#education .last {
	margin-bottom: 20px;
}

.school h3 {
	font-size: 1.5em;
	margin: 5px 0 10px 0;
	padding: 0;
	line-height: 20px;
}

.school p.mark {
	margin: 4px 0 7px 1px;
	padding: 0 0 1px 5px;
	color: #555;
	border-left: 3px solid #ddd;
}

.school p.mark strong {
	color: #444;
}

#references h3 {
	font-size: 1.5em;
	margin: 5px 0 10px 0;
	padding: 0;
	line-height: 20px;
}

#references p.lined {
	margin: 4px 0 7px 1px;
	padding: 0 0 1px 5px;
	color: #555;
	border-left: 3px solid #ddd;
}

#references p.request {
	margin-top: 8px;
	font-style: italic;
}

.page-break {
	page-break-before: always;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		.aside {
			text-align: left;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

	@media print {
		.page-break {
			display: block;
			page-break-before: always;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/